<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mountains.chatinput" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application>
        <provider
            android:name="com.mountains.chatinput.util.CustomFileProvider"
            android:authorities="${applicationId}.chatinput.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/chatinput_file_paths" />

        </provider>
    </application>

</manifest>
